<div class="container">
    <h1>Nuestros Productos</h1>
    <div class="row">
        {{#each products}}
        <div class="card col-3 m-2">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <button class="btn btn-primary" onclick="agregarAlCarrito('{{this._id}}')">Agregar al Carrito</button>
        </div>
        {{/each}}
    </div>

    <div class="pagination mt-4">
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}" class="btn btn-secondary">Anterior</a>
        {{/if}}
        
        <span>Página {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}" class="btn btn-secondary">Siguiente</a>
        {{/if}}
    </div>
</div>